$colors: ("black": #333, "grey": #444, "orange": #ffbe81, "white": #fff, "light-grey":#ccc );
$aligns: ("center": center, "justify": justify);
$weights: ("bold": bold);
$forms: ("cap": capitalize, "upper": uppercase, "lower": lowercase);
$unit: 5;